<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-centered">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <%= gravatar_image_tag(@post.user.email, size: 64, alt: @post.user.name) %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <strong><%= @post.user.name %></strong><br />
                <p><%= @post.post %></p>
                <div class="field is-grouped">
                  <p class="control">
                    <%= link_to 'Edit', edit_post_path(@post),class: "button is-info" %>
                  </p>
                  <p class="control">
                    <%= link_to 'Back', posts_path,class: "button is-danger" %>
                  </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
